*{
    margin: 0;
    padding: 0;
}
body{
    background-color:white;
}
.heading{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}
body {  
    background-image: url("paypal-logo.png");
      }
 .background{
  background-image: url("paypal-logo.png"); 
 }   
    
     form {  
       width: 30%;  
       margin: 60px auto;  
       background: #efefef;  
       padding: 60px 120px 80px 120px;  
       text-align: center;  
       -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
       box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
    }
    .top{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2pc;
    }

    .row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0 -16px;
      }
      
      .col-25 {
        -ms-flex: 25%;
        flex: 25%;
      }
      
      .col-50 {
        -ms-flex: 50%;
        flex: 50%;
      }
      
      .col-75 {
        -ms-flex: 75%;
        flex: 75%;
      }
      
      .col-25,
      .col-50,
      .col-75 {
        padding: 0 16px;
      }
      
      .container {
        padding: 5px 20px 15px 20px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 3px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      input[type=text] {
        width: 100%;
        margin-bottom: 20px;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      
      label {
        margin-bottom: 10px;
        display: block;
      }
      
      .icon-container {
        margin-bottom: 20px;
        padding: 7px 0;
        font-size: 24px;
      }
      
      .btn {
        background-color: rgb(92, 158, 197);
        color: white;
        padding: 12px;
        margin: 10px 0;
        border: none;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        font-size: 17px;
      }
      
      .btn:hover {
        background-color: rgb(31, 60, 97);
      }
      
      a {
        color: #2196F3;
      }
      
      hr {
        border: 1px solid lightgrey;
      }
      
      span.price {
        float: right;
        color: grey;
      }
      
      .line-box1{
        display: block;
        border-color: black;
      }
      
      .registerbtn{
      background-color: rgb(92, 158, 197);
      color: rgb(255, 255, 255);
      padding: 12px;
      margin: 10px 0;
      border: none;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      font-size: 17px;
      font-weight: bold;
      font-style: normal;
      text-decoration: none;
      }
      @media (max-width: 800px) {
        .row {
          flex-direction: column-reverse;
        }
        .col-25 {
          margin-bottom: 20px;
        }
      }
      .head{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: x-large;
      }